@model westcoast_education.web.Models.ErrorModel

<section class="error-page">
    <h1 class="error-page-title">@Model.ErrorTitle</h1>
    <p class="error-text-secondary">@Model.ErrorMessage</p>
</section>